.root{
	-fx-background-color: #ffffff;
	-fx-font-size: 14px;
	
}
TextField{
	-fx-text-fill;blue;
	-fx-border-raidus:4PX;
	-fx-font-size: 12px;
	-fx-cursor:text;
}
.Blogin{
	-fx-background-color: #0000d4;
	-fx-text-fill: #ffffff;
	-fx-font-size: 16px;
}